body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
  flex-direction: column; /* Align items in a column. Puts text below.*/
  text-align: center; /* Center text */
}
